<!DOCTYPE html>

<head>
    <title>Forside</title>
    <link rel="icon" type="image/x-icon" href="./assets/favicon.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/frontpage.css">
    <link rel="stylesheet" type="text/css" href="/tables.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/client.js"></script>
</head>

<body>
    <div class="hero-image">
        <div class="container">
            <div class="topnav">
                <div class="topnav-centered">
                    <a href="/" class="active">Din Personlig Træner</a>
                </div>

                <a href="/">Forside</a>
                <a href="/frontpage/trainers">Trænere</a>
                <a href="/frontpage/Contactus">Kontakt os</a>

                <div class="topnav-right">
                    <a href="/chooseSignup">Bliv medlem</a>
                    <a href="/chooseLogin">Log in</a>
                </div>
            </div>

            <div class="header-before-container">
                <br>
                <br>
                <h2 style="text-align: center; font-size: 30px;">Alle trænere på DinPersonligeTræner.dk</h2>
            </div>
            <div class="container-in-container">

                <div class="all_trainers_table">
                    <table id="display-all-trainers-frontpage-table">
                        <tr>
                            <th>Fornavn</th>
                            <th>Efternavn</th>
                            <th>E-mail</th>
                            <th>Alder</th>
                            <th>Postnummer</th>
                            <th>Profil oprettet</th>
                        </tr>
                    </table>


                </div>







                <div class=" footer">
                    <div class="footer-centered">
                        <a href="/" class="active">Din Personlig Træner</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>